@page "/house"

@using Home44.Services;
@inject IBroadlinkService BroadLinkService;

<PageTitle>House</PageTitle>

<h1>In the House</h1>


<h3>Kitchen Extractor</h3>

<div>
<button class="btn btn-primary" @onclick="ExtractorLight">Light</button>
</div>
<div>
    <button class="btn btn-primary" @onclick="ExtractorUp">Up</button>
</div>
<div>
    <button class="btn btn-primary" @onclick="ExtractorDown">Down</button>
</div>

@code {


    private async void ExtractorLight()
    {
        await BroadLinkService.SendButtonCommand("extractorlight");

        await InvokeAsync(StateHasChanged);
    }

     private async void ExtractorUp()
    {
        await BroadLinkService.SendButtonCommand("extractorup");

        await InvokeAsync(StateHasChanged);
    }

     private async void ExtractorDown()
    {
        await BroadLinkService.SendButtonCommand("extractordown");

        await InvokeAsync(StateHasChanged);
    }
}

