@page "/house"

@using Home44.Services;
@inject IBroadlinkService BroadLinkService;

<PageTitle>House</PageTitle>

<h1>In the House</h1>


<h3>Kitchen Extractor</h3>

<button class="btn btn-primary" @onclick="ExtractorLight">Light</button>

@code {


    private void ExtractorLight()
    {
        BroadLinkService.SendButtonCommand();
    }
}

