@page "/house"

@using Home44.Services;
@inject IBroadlinkService BroadLinkService;

<PageTitle>House</PageTitle>

<h1>In the House</h1>


<h4>Kitchen Extractor</h4>
<div class="row">
   
    <div class="col-6">
       
        <div class="mt-6">
            <button class="btn btn-primary std-button" @onclick="ExtractorUp">Up</button>
        </div>
        <div class ="mt-6">
            <button class="btn btn-primary std-button" @onclick="ExtractorDown">Down</button>
        </div>
    </div>
    <div class="col-6">
        <div class="mt-6">
            <button class="btn btn-primary std-button" @onclick="ExtractorLight">Light</button>
        </div>
       

    </div>
</div>


@code {


    private async void ExtractorLight()
    {
        await BroadLinkService.SendButtonCommand("extractorlight");

        await InvokeAsync(StateHasChanged);
    }

     private async void ExtractorUp()
    {
        await BroadLinkService.SendButtonCommand("extractorup");

        await InvokeAsync(StateHasChanged);
    }

     private async void ExtractorDown()
    {
        await BroadLinkService.SendButtonCommand("extractordown");

        await InvokeAsync(StateHasChanged);
    }
}

