
@page "/projects/index"

<PageTitle>ToDo list</PageTitle>


TODOs -
<ul>
    <li><a href="../projects/solarshed">Solar shed</a></li>
    <li>Pond Filler</li>
    <li>Wildlife Camera</li>
    <li>Rover</li>
    <li>Tidy HA UI</li>
</ul>



