
@page "/projects/pondfiller"

<PageTitle>A Garden Pond fillwe</PageTitle>


to keep the water level topped up

<hr />
elements

<ul>
    <li>a water level detector </li>
    <li>water valves </li>
    <li>a pipe or rill </li>
    <li>solar power</li>
</ul>
    also 
    <ul>
        <li>flow rate monitors</li>
        <li>frost prevention</li>
        <li>logging</li>
        <li>timer</li>
    </ul>

<hr/>








