@page "/haextra"

<PageTitle>HomeAssistant Extra</PageTitle>

<h1>Custom functionality </h1>

Raspberry Pi 2


main site:
http://192.168.1.125:8085/

Running .Net core 8 Blazor

source code refer to https://github.com/andrewm44

no permanent data store here

TODOs -
<ul>
    <li>...</li>
    <li>..</li>
</ul>

