@page "/HomeAssistant"

<PageTitle>HomeAssistant</PageTitle>

<h1>About local HA setup</h1>

Raspberry Pi 4 
192.168.1.196
http://homeassistant.local:8123/


TODOs -
<ul>
    <li>Look into Node Red</li>
    <li>Write up current setups [here] - including iBoost</li>
</ul>

