
@page "/todos"

<PageTitle>ToDo list</PageTitle>


TODOs -

1. Use Android table as a wall display/console
e.g. to have switches for extractor and pond filler
always on/sleep one touch start
really neat hidden psu
3d printed case

put it above cat bowls

USE .Net for android?

also do the same with an old phone?


2. Solar shed - start with 40W heater

3. write about it - the reuse of the tablet, solar power etc etc 

<ul>
    <li>Solar shed</li>
    <li>Pond Filler</li>
    <li>Wildlife Camera</li>
    <li>Garden Rover</li>
    <li>Tidy HA UI</li>
    <li>3D print racks for Pis, PSU etc</li>
</ul>



